.contenu {
	text-align: center;
	font-family: Times;
}

.contact {
	text-align: right;
}

.image {
	display: inline;
}

.liens {
	float: right;
	line-height: 200px;
	margin-right: auto;
	margin-left: auto;
	width: 50%;
	text-align: justify;
	font-size: 40px;
	
	
}

.titre {
	font-size: 60px;
	color: blue;
}

.soustitre {
	font-size: 40px;
}

.text {
	font-size: 20px;
}